[workspace]
members = [
    # "cli",
    "lib",
    # "android",
    "uniffi-bindgen",
    "gui_cosmic",
    "i18n",
    "i18n_macros",
]
resolver = "2"

[workspace.package]
version = "1.19.3"
license = "GPL-3.0-or-later"

[profile.release]
strip = true
lto = true

[profile.release-debuginfo]
inherits = "release"
strip = false
debug = 2

[workspace.dependencies]
clap = "4"
clap_complete = "4"
tokio = "1"
tracing = "0.1"
tracing-subscriber = "0.3"
macaddr = "1"
heck = "0.5"
itertools = "0.14"
futures = "0.3"
adw = { version = "0.7", package = "libadwaita" }
gtk = { version = "0.9", package = "gtk4" }
strum = "0.26"
serde = "1"
toml = "0.8"
anyhow = "1"
dirs = "6"
uuid = "1"
web-sys = "0.3"
thiserror = "2"
weak-table = "0.3"
nom = "7"
js-sys = "0.3"
wasm-bindgen-futures = "0.4"
ordered-float = "4"
float-cmp = { version = "0.9", default-features = false }
log = "0.4"
android_logger = "0.14"
uniffi = "0.28"
prost = "0.13"
prost-build = "0.13"
serde-wasm-bindgen = "0.6"
static_assertions = "1"
serde_json = "1"
bytes = "1"
btleplug = "0.11"
regex = "1"
windows = "0.59"
mockall = "0.13"
tempfile = "3"
glib-build-tools = "0.20"
embed-resource = "3"
console_error_panic_hook = "0.1"
tracing-wasm = "0.2"
wasm-bindgen = "0.2"
assert_cmd = "2"
predicates = "3"
bluer = "0.17"
hex = "0.4.3"
async-trait = "0.1"
libcosmic = { git = "https://github.com/pop-os/libcosmic.git" }
rusqlite = "0.33.0"
syn = "2"
quote = "1"
proc-macro2 = "1"
i18n-embed = "0.15"
i18n-embed-fl = "0.9"
rust-embed = "8"
cfg-if = "1.0"
