#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0.0
Type=Application
Name=OpenSCQ30
Exec=openscq30_gui
Icon=com.oppzippy.OpenSCQ30
Terminal=false
Categories=Utility;GTK;
Keywords=Soundcore;Bluetooth;Headphones;Q30;
