[package]
name = "openscq30_cli"
version = "1.2.0"
edition = "2021"

[features]
default = ["bluetooth"]
bluetooth = ["openscq30_lib/bluetooth"]
demo = ["openscq30_lib/demo"]

[dependencies]
openscq30_lib = { path = "../lib" }
clap = { version = "4.1", features = ["derive"] }
tokio = { version = "1", features = ["macros"] }
tracing = "0.1"
tracing-subscriber = "0.3"
macaddr = "1.0"
heck = "0.4"

[dev-dependencies]
assert_cmd = "2.0"
predicates = "3.0"
