[package]
name = "openscq30_cli"
version = "0.1.0"
edition = "2021"

[dependencies]
openscq30_lib = { path = "../lib", features = ["bluetooth"] }
clap = { version = "4.1", features = ["derive"] }
tokio = { version = "1", features = ["macros"] }
tracing = "0.1"
tracing-subscriber = "0.3"
