#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=OpenSCQ30
Exec=openscq30-gui
Icon=com.oppzippy.OpenSCQ30
Terminal=false
Categories=Utility;Settings;
Keywords=Soundcore;Bluetooth;Wireless;Headphones;Earbuds;Q30;
