icon ICON "com.oppzippy.OpenSCQ30.ico"
1 VERSIONINFO
FILEVERSION ${VERSION_MAJOR},${VERSION_MINOR},${VERSION_PATCH},0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Oppzippy"
            VALUE "FileDescription", "OpenSCQ30"
            VALUE "FileVersion", "${VERSION}"
            VALUE "InternalName", "openscq30_gui"
            VALUE "OriginalFilename", "openscq30_gui.exe"
            VALUE "ProductName", "OpenSCQ30"
            VALUE "ProductVersion", "${VERSION}"
            VALUE "LegalCopyright", "(C) Kyle Scheuing"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END
