name: test

on:
  push:
    paths-ignore: &push_paths_ignore
      - "*.md"
      - docs/**
      - fastlane/**
      - screenshots/**
      - tools/**
      - packaging/**
  pull_request:
    paths-ignore: *push_paths_ignore

permissions:
  contents: read

jobs:
  test-rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install basic requirements
        run: sudo apt-get install -y pkg-config libdbus-1-dev libxkbcommon-dev
      - name: Install just
        uses: taiki-e/install-action@just
      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Cache cargo dependencies
        uses: Swatinem/rust-cache@v2
      - name: Run all rust tests
        run: just test-cov
      - name: Generate HTML test coverage report
        run: just test-cov-report html
      - name: Upload coverage report
        uses: actions/upload-artifact@v6
        with:
          name: coverage
          path: target/llvm-cov/html/
