name: "test"

on:
  - push

env:
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse

jobs:
  rust_test_linux:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies from apt
        run: |
          sudo apt-get update
          sudo apt-get install libdbus-1-dev pkg-config libgtk-4-dev libadwaita-1-dev
      - name: Install display server
        run: |
          sudo apt-get install xvfb
      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Install cargo-make
        uses: davidB/rust-cargo-make@v1
      - name: Cache cargo dependencies
        uses: Swatinem/rust-cache@v2
      - name: Run rust tests
        run: xvfb-run --auto-servernum cargo make test-cov
      - name: Generate HTML test coverage report
        run: cargo make test-cov-report-html
      - name: Upload coverage report
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: target/llvm-cov/html/

  # Only lib is tested on windows since building gtk takes too long, and lib is the only crate with os specific code
  rust_test_windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v3
      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
      - name: Cache cargo dependencies
        uses: Swatinem/rust-cache@v2
      - name: Install cargo-make
        uses: davidB/rust-cargo-make@v1
      - name: Run rust tests
        run: cargo make integration-test

  android_test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: armv7-linux-androideabi,aarch64-linux-android,i686-linux-android,x86_64-linux-android
      - uses: actions/setup-java@v3
        with:
          distribution: temurin # See 'Supported distributions' for available options
          java-version: 17
      - name: Cache cargo dependencies
        uses: Swatinem/rust-cache@v2
      - name: Install cargo-ndk
        run: cargo install cargo-ndk

      - name: Run android unit tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: testBluetoothDebugUnitTest
          build-root-directory: android
      # - name: Run android instrumented tests
      #   working-directory: android
      #   run: ./gradlew connectedAndroidTest
