name: "test"

on:
  - push

jobs:
  rust_test_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install basic requirements
        run: sudo apt-get install -y just
      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Cache cargo dependencies
        uses: Swatinem/rust-cache@v2
      - name: Run rust tests
        run: just test-cov
      - name: Generate HTML test coverage report
        run: just test-cov-report html
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: target/llvm-cov/html/

  # Only lib is tested on windows since building the gui/cli would take
  # a lot longer, and they don't contain any platform specific code
  rust_test_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install just
        run: choco install just
      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
      - name: Cache cargo dependencies
        uses: Swatinem/rust-cache@v2
      - name: Run lib tests
        run: just lib/ test

  android_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install build tools
        uses: ./.github/actions/install-android-build-tools
        with:
          cache: true

      - name: Run android unit tests
        working-directory: android
        run: ./gradlew testDebugUnitTest
      # disabled since they're really slow
      # - name: Run android instrumented tests
      #   working-directory: android
      #   run: ./gradlew connectedAndroidTest
